
body { color: black; 
     background: white;
	font-size: small;
     font-family: Arial, Helvetica, sans-serif }

	 
table { margin: 1em; border-collapse: collapse; }
td, th { padding: .3em; border: 1px #aae solid; }
thead { background: #aae }	 

tbody tr:nth-of-type(odd) {
  background-color:#eee;
} 
	 
td.numeric { text-align: right;}	 